* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

header {
    background: #2E7D32;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2.5rem;
}

nav {
    background: #1a8220;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}


.banner {
    max-width: 100%;
    width: 1300px;
    height: 400px;
    object-fit: fill;
    display: inline-table;
    margin: auto;
}





main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2 {
    color: #0288D1;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    margin-bottom: 2rem;
}

ul {
    margin: 1rem 0;
    padding-left: 3rem;
    list-style-type:disc;
    list-style-position:outside;
    
}

img {
    max-width: 100%;
    height: auto;
    margin:auto;
}


form {
    margin: 2rem 0;
}

form input, form select {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 300px;
}

form button {
    padding: 0.5rem 1rem;
    background: #0288D1;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #0277BD;
}

footer {
    background: #2E7D32;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

